@model IEnumerable<VideoRental.ViewModel.Views.UserDetailView>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Detail List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FristName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthOfDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FristName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthOfDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRole)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.IsDeleted)
            @Html.ActionLink("Edit", "Edit", new {  id = item.Id })
        </td>
    </tr>
}

</table>
